<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos de Sensores</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Datos de Sensores</h1>
    <div class="sensor-data">
      <h2>Datos de Humedad de Suelo</h2>
      <p id="humidityData">-- %</p>
    </div>
    <div class="sensor-data">
      <h2>Ubicación GPS</h2>
      <p id="latitude">--</p>
      <p id="longitude">--</p>
      <p id="altitude">-- metros</p>
    </div>
  </div>

  <script>
    // Función para obtener y mostrar los datos
    function getData() {
      fetch('/data') // Ruta para obtener los datos del servidor
        .then(response => response.json())
        .then(data => {
          // Mostrar los datos de humedad de suelo
          document.getElementById('humidityData').innerText = `${data.humidity}%`;

          // Mostrar los datos de ubicación GPS
          document.getElementById('latitude').innerText = `Latitud: ${data.lat}`;
          document.getElementById('longitude').innerText = `Longitud: ${data.lng}`;
          document.getElementById('altitude').innerText = `Altitud: ${data.alt} metros`;
        })
        .catch(error => console.error('Error al obtener los datos:', error));
    }

    // Llamar a la función getData() para obtener los datos al cargar la página
    getData();

    // Actualizar los datos cada 5 segundos
    setInterval(getData, 5000);
  </script>
</body>
</html>
